#mycanvas{
    background-image: background.png;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
button{
   background-color:brown;
   color:white;
}
