#mycanvas{
    background-image: url('https://pbs.twimg.com/media/EVLz1SnU0AAJxx7.jpg:large');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
button{
   background-color:brown;
   color:white;
}